@charset "utf-8";
/*
*
* 2013/10/31
* 会员类型标志 MTsign-size
*
*/
/* CSS Document */
/*.MTsign-bar-pt,.MTsign-bar-mq,.MTsign-bar-xy,.MTsign-bar-xmt {background:url("//himg.china.cn/img/common/member_sign/MTsigns-infbar.png") 0 0 no-repeat;display: block;width: 183px;height: 40px;line-height: 40px;margin:0 auto 8px;}
.MTsign-bar-mq {background-position: center -9px;}
.MTsign-bar-xy {background-position: center -67px;}
.MTsign-bar-xmt {background-position: center -123px;}*/

/*  2016 更换标是标识      */
/*.MTsign-bar-pt,*/
/*.MTsign-bar-mq,.MTsign-bar-xy,.MTsign-bar-xmt {background:url("//himg.china.cn/img/common/member_sign/mt_an.png") 0 0 no-repeat;display: block;width:146px;height:40px;line-height:40px;margin:5px auto 0;}
*//*.MTsign-bar-pt{background-position:center -38x}*/
/*.MTsign-bar-mq {background-position:center -117px}
.MTsign-bar-xy {background-position:center -77px}
.MTsign-bar-xmt {background-position:center 0}
*/
.MTsign-bar-mq span,.MTsign-bar-xy span,.MTsign-bar-xmt span {float: right;font-weight: bold;line-height: 42px;margin-right: 20px;color:#333;}
.MTsign-bar-mq b,.MTsign-bar-xy b,.MTsign-bar-xmt b {color: #c70000;margin: 0 3px;}

/*.middle-pt,.middle-mq,.middle-xy,.middle-xmt{background:url("//himg.china.cn/img/common/member_sign/MTsigns-middle.png") 0 0 no-repeat;vertical-align: middle;display: inline-block;width: 116px;height: 27px;}
.middle-mq{background-position:0 3px;}
.middle-xy{background-position: 0 -26px;}
.middle-xmt{background-position: 0 -56px;}*/

/*.MT-mini-mq,.MT-mini-xy,.MT-mini-xmt {background:url("//himg.china.cn/img/common/member_sign/MTsigns-mini.png") 0 0 no-repeat;}
.MT-mini-mq {background-position:right 4px;}
.MT-mini-xy {background-position:right -20px;}
.MT-mini-xmt{background-position:right -44px;}*/
/*	2016.7.5		*/
/*.MT-mini-mq-16,.MT-mini-xy-16,.MT-mini-xmt-16 {background:url(//himg.china.cn/img/common/member_sign/mt_mini_v9.png) 0 0 no-repeat;}
.MT-mini-mq-16 {background-position:0 -58px;}
.MT-mini-xy-16 {background-position:0 -28px;}
.MT-mini-xmt-16{background-position:0 1px;}*/

/*.MTsign-bar-pt,.middle-pt{background:url("//himg.china.cn/img/common/member_sign/MTsigns-pt.png") 0 0 no-repeat;}
.MTsign-bar-pt {background-position:13px 0;}
.middle-pt{background-position: 0 -54px;}

.middle-pt-16{background:url("//himg.china.cn/img/common/member_sign/pthy_an_min.png") no-repeat; width:68px; height:17px; display:inline-block; vertical-align:middle;}
.middle-xy-16{background:url("//himg.china.cn/img/common/member_sign/xyhy_an.png") no-repeat; width:71px; height:17px; display:inline-block; vertical-align:middle;}
.middle-mq-16{background:url("//himg.china.cn/img/common/member_sign/mqhy_an.png") no-repeat; width:68px; height:17px; display:inline-block; vertical-align:middle;}
.middle-xmt-16{background:url("//himg.china.cn/img/common/member_sign/xmt_an.png") no-repeat; width:50px; height:16px; display:inline-block; vertical-align:middle;}

*/

/*
*
* 2014/2/18
* 全站推广
*/

img{vertical-align:middle;}
.detail-recommend {width:132px;position:absolute;right:-133px;box-shadow: 2px 0 2px #ccc;}
.detail-recommend .r-head h3 {line-height:30px;text-align:center;background-color:#f7f7f7;color:#666;font-family: \5FAE\8F6F\96C5\9ED1,sans-serif;font-size:14px;}
.detail-recommend .r-head {border: 1px  #e5e5e5 solid;border-bottom:0 none;padding-bottom:10px;}
.switchable-content {position: absolute;left: 14px;top: 0;}
.switchable-content li a.box-img{position:relative;display:block;border:1px #fff solid;}
.switchable-content li a.box-img:hover{border-color:#c70000;}
.switchable-content li .price {display:block;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF)\\8;background-color:rgba(255,255,255,0.8);color:#c70000;font-family:Arial;position:absolute;text-align:center;width:100px;top: 80px;left:0;line-height:20px;}
.switchable-content li .re-text{height:22px;overflow:hidden;line-height: 22px;}
/* .switchable-content {padding: 10px 0 0;} */
.switchable-content li {height: 132px;width: 102px;}
.detail-recommend .r-cont{background-color:#fff;}
.forecom {height: 528px;overflow: hidden;padding: 0 14px;border-left:1px #e5e5e5 solid;border-right: 1px #e5e5e5 solid;position:relative;zoom:1;}
.trun-key{height:22px;}
.trun-key a{border:1px #e5e5e5 solid;background:url("//himg.china.cn/img/common/atrrow.png") 0 0 no-repeat;width:64px;float:left;line-height:200px;height:20px;overflow:hidden;}
.trun-key a.prev {background-position:center 5px;width:65px;}
.trun-key a.next {background-position: center -33px;margin-left:-1px;}
.trun-key a:hover {background-color:#f7f7f7;}


/*			2016 会员表识归纳					*/

/*  membersignsB-mini.png    */
.MT-mini-mq, .MT-mini-xy, .MT-mini-xmt{background:url(//himg.china.cn/img/common/member_sign/membersignsB-mini.png) no-repeat; height:16px; width:70px; display:inline-block}
.MT-mini-mq{background-position:0 -38px}
.MT-mini-xmt{background-position:0 0}
.MT-mini-xy{background-position:0 -18px}

.MT-mini-mq-16,.MT-mini-xy-16,.MT-mini-xmt-16 {background:url(//himg.china.cn/img/common/member_sign/membersignsB-mini.png) no-repeat; height:16px; width:70px; display:inline-block}
.MT-mini-mq-16 {background-position:0 -38px;}
.MT-mini-xy-16 {background-position:0 -18px;}
.MT-mini-xmt-16{background-position:0 0px;}

/*  membersignsB-middle.png    */
.MT-middle-mq, .MT-middle-xy, .MT-middle-xmt{background:url(//himg.china.cn/img/common/member_sign/membersignsB-middle.png) no-repeat; height:25px; width:85px; display:inline-block}
.MT-middle-mq{background-position:0 -75px}
.MT-middle-xmt{background-position:0 0}
.MT-middle-xy{background-position:0 -40px} 

/*  membersignsB-large.png    */
.MT-large-mq, .MT-large-xy, .MT-large-xmt{background:url(//himg.china.cn/img/common/member_sign/membersignsB-large.png) no-repeat; height:38px; width:120px; display:inline-block}
.MT-large-mq{background-position:0 -58px}
.MT-large-xmt{background-position:0 0}
.MT-large-xy{background-position:0 -120px}

/*  membersignsA-mini.png    */
.middle-pt,.middle-mq,.middle-xy,.middle-xmt{background:url(//himg.china.cn/img/common/member_sign/membersignsA-mini.png) no-repeat;height:20px; width:70px; display:inline-block; vertical-align:middle;}
.middle-pt{background-position:0 -62px;}
.middle-xy{background-position:0 -18px;}
.middle-mq{background-position:0 -40px;}
.middle-xmt{background-position:0 0; }

.middle-pt-16,.middle-xy-16,.middle-mq-16,.middle-xmt-16{background:url(//himg.china.cn/img/common/member_sign/membersignsA-mini.png) 0 0 no-repeat; height:20px; width:70px; display:inline-block; vertical-align:middle;}
.middle-pt-16{background-position:0 -62px;}
.middle-xy-16{background-position:0 -18px;}
.middle-mq-16{background-position:0 -40px;}
.middle-xmt-16{background-position:0 0; }

/*  membersignsA-large.png    */
.MTsign-bar-pt,.MTsign-bar-mq,.MTsign-bar-xy,.MTsign-bar-xmt {background:url(//himg.china.cn/img/common/member_sign/membersignsA-large.png) 0 0 no-repeat;display: block;width:140px;height:36px; margin:0 auto;}
.MTsign-bar-pt {background-position: center -40px;}
.MTsign-bar-mq {background-position: center -115px;}
.MTsign-bar-xy {background-position: center -80px;}
.MTsign-bar-xmt {background-position: center 0px;}

/*  membersignsC-mini.png    */
.MT-miniC-mq, .MT-miniC-xy, .MT-miniC-xmt{background:url(//himg.china.cn/img/common/member_sign/membersignsC-mini.png) no-repeat; height:16px; width:59px; display:inline-block}
.MT-miniC-mq{background-position:0 -42px}
.MT-miniC-xmt{background-position:0 0}
.MT-miniC-xy{background-position:0 -21px}

/*  membersignsD-mini.png    */
.MT-miniD-mq,.MT-miniD-pt,.MT-miniD-xy, .MT-miniD-xmt{background:url(//himg.china.cn/img/common/member_sign/membersignsD-mini.png) no-repeat; height:18px; width:70px; display:inline-block}
.MT-miniD-mq{background-position:0 -40px}
.MT-miniD-xmt{background-position:0 0}
.MT-miniD-xy{background-position:0 -20px}
.MT-miniD-pt{background-position:0 -61px}